// color
$primary: #79ccff;
$mode-dark: #4d4d4d;
$mode-light: #f4f4f4;

// Neutral color 中性色
$white: #fff;
$light: #ebebeb;
$light-gray: #b2b2b2;
$gray: #797979;
$dark-gray: #5d5d5d;
$deep-gray: #3c3c3c;
$charcoal: #222222;
$black: #000000;

// font-family
$family-en: "Rosaline,serif";
$family-tc: "LXGW WenKai TC", cursive;

// font-size
$f-s-xs: .75rem;
$f-s-sm: .85rem;
$f-s-md: 1rem;
$f-s-lg: 1.2rem;
$f-s-xl: 1.5rem;
$f-s-xxl: 1.8rem;
$f-s-ex: 4rem;

// spacing
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 25px;
$spacing-xl: 30px;
// spacing X軸
$space-x-sm: 0 15px;
$space-x-md: 0 20px;
$space-x-lg: 0 25px;
$space-x-xl: 0 30px;
// spacing Y軸
$space-y-sm: 15px 0;
$space-y-md: 20px 0;
$space-y-lg: 25px 0;
$space-y-xl: 30px 0;

// corner-radius
$radius-sm: 6px;
$radius-ml: 12px;
$radius-lg: 24px;