// color
$primary: #79ccff;
$mode-dark: #4d4d4d;
$mode-light: #f4f4f4;

// Neutral color 中性色
$white: #fff;
$light: #ebebeb;
$light-gray: #b2b2b2;
$gray: #797979;
$dark-gray: #5d5d5d;
$deep-gray: #3c3c3c;
$charcoal: #222222;
$black: #000000;

// alpha
$alpha-w-40: rgba(255, 255, 255, .4);
$alpha-w-40: rgba(255, 255, 255, .7);