// spacing
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 25px;
$spacing-xl: 30px;
// spacing X軸
$space-x-sm: 0 15px;
$space-x-md: 0 20px;
$space-x-lg: 0 25px;
$space-x-xl: 0 30px;
// spacing Y軸
$space-y-sm: 15px 0;
$space-y-md: 20px 0;
$space-y-lg: 25px 0;
$space-y-xl: 30px 0;

// corner-radius
$radius-sm: 6px;
$radius-ml: 12px;
$radius-lg: 24px;